body {
    color: #fff;
    background-color: #000;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.cover {
    vertical-align: middle;
    margin-top: 100px;
    text-align: center;
}

.lead {
    color: silver;
    font-size: 21px;
    line-height: 1.4;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}