<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <link href="/public/css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <title>Go dynamic JSON</title>

    <script type="text/javascript">
        $(function(){
            $.get("http://localhost:7000/GetTemplate", function(data, status){
                $("#template").append(data)
                // $("#template").addClass("card")
            })

            $("#export").click(function(){
                var names = []
                $("span[name='pattern_name']").each(function(){
                    var name = $(this).text()
                    if (name != "") {
                        names.push(name)
                    }
                })

                var values = []
                $("textarea[name='pattern_value']").each(function(){
                    var value = $(this).val()
                    if (value != "") {
                        values.push(value)
                    }
                })

                var keyPairs = []
                for (var i=0; i<names.length; i++){
                        var keyPair = names[i]+":"+values[i]
                        keyPairs.push(keyPair)
                }
                var keys = keyPairs.join(";")
                $.post("http://localhost:7000/SetPattern", 
                {content:keys},
                function(result){
                })
            })
         
        })
    </script>
</head>

<body>
    <div class="container col-lg-8 col-lg-push-2">
        {{ .Error }}
    </div>
</body>

</html>

