<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <link href="/public/css/error.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <title>Oops! Error</title>
</head>

<body>
    <h1 class="cover">
        {{ .Error }}
    </h1>
    <large>{{ .StatusCode }}</large>
    <p class="lead">
        Oops! There must be something wrong!
    </p>
</body>

</html>