<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <link href="/public/css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/home.js"></script>
    <title>Router Config</title>
</head>

<body onload="Load()">
    <div class="container-fluid">
        <div>
            <table id="tbl-template" class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Project</th>
                        <th scope="col">Group</th>
                        <th scope="col">Template</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="input-group mb-3">
                <input id="input-file" type="text" class="form-control" placeholder="Route File Name"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="btn-merge-template" class="btn btn-primary" type="button">Merge Template</button>
                    <a href="http://localhost:7000/template" class="w-100">New Template?</a>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Download Files</h3>
            <table id="tbl-file" class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <h4>Preview:</h4>
            <textarea class="textarea-preview" disabled>
            </textarea>
        </div>

    </div>

</body>

</html>