<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/public/css/main.css" rel="stylesheet" />
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/index.js"></script>
    <title>Route Gen</title>

    <script type="text/javascript">
        $(function () {
            // $.get("http://localhost:7000/GetFiles", function(data, status){
            //     alert(data)
            //     // $("#file-group").append(data)

            //     // $("#template").addClass("card")
            // })


            $(".template-group").on("click", function () {
                $checkbox = $(this).children("input")
                if ($checkbox.attr("checked") == "checked") {
                    $checkbox.removeAttr("checked")
                } else {
                    $checkbox.attr("checked", "checked")
                }

                var name = $(this).text()
                $.get("http://localhost:7000/GetTemplate/" + name, function (data, status) {
                    $("textarea[name='resource']").text(data.resources)
                    $("textarea[name='method']").text(data.methods)
                    $("input[name='version']").val(data.version)
                    $("input[name='proxy_schema']").val(data.proxyschema)
                    $("input[name='proxy_pass']").val(data.proxypass)
                    $("input[name='proxy_version']").val(data.proxyversion)
                    $("textarea[name='custom_config']").text(data.customconfigs)
                })
            })

            $("#export").click(function () {
                var filenames = []
                $(".template-group").children("a").each(function () {
                    $checkbox = $(this).siblings("input")
                    if ($checkbox.attr("checked") == "checked") {
                        var name = $(this).text()
                        filenames.push(name)
                    }
                })

                var exportedFileName = $("#exported-file-name").val()
                var exportList = filenames.join(";")
                $.post("http://localhost:7000/Export",
                    {
                        content: exportList,
                        filename: exportedFileName
                    },
                    function (result) {

                    })
            })

            $("#delete").click(function () {
                var filenames = []
                $(".template-group").children("a").each(function () {
                    $checkbox = $(this).siblings("input")
                    if ($checkbox.attr("checked") == "checked") {
                        var name = $(this).text()
                        filenames.push(name)
                    }
                })

                var exportedFileName = $("#exported-file-name").val()
                var exportList = filenames.join(";")
                $.post("http://localhost:7000/DeleteGroup",
                    { content: exportList },
                    function (result) {
                        location.reload(true)
                    })
            })

        })
    </script>
</head>

<body onload="Load()">
    <div class="container col-lg-8 col-lg-push-2">
        <div class="input-group col-lg-4">
            <input id="input-project" type="text" class="form-control" placeholder="Project Name"
                aria-label="Project Name" aria-describedby="button-addon2">
            <div class="input-group-append col-sm-2">
                <button class="btn-create-project btn btn-primary" type="button" id="button-addon2">New</button>
            </div>
        </div>

        <div class="col-sm-4 col-sm-push-8 float-left">
            <div id="router-file-list" class="card">
                <h3> Download Files </h3>
                <!-- <div class="list-group">
                    {{ range $i, $v := .Files }}
                    <div class="file-group list-group-item list-group-item-action">
                        <a href="file:///C:/Users/ZetaAppXeon/AppData/Local/Temp/%7B%7B" $v.url="" }}="">
                            {{ $v.FileName }} </a>
                    </div>
                    {{ end }}
                </div> -->
            </div>
            <div class="template-list list-group">
                <h3>Templates</h3>
            </div>
            Exported File Name: <input type="text" id="exported-file-name">
            <input id="export" type="button" class="btn btn-primary" value="Export JSON">
            <input id="delete" type="button" class="btn btn-primary" value="Delete">
        </div>


        <table class="table table-sm table-responsive table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Field Name</th>
                    <th scope="col">Field Valudes</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row">
                    <th> 1</th>
                    <td>Resource</td>
                    <td>
                        <input type="text" text="" />
                        <button id="btn-resource" type="button" class="btn btn-dark">Add</button>
                        <div>
                        </div>
                    </td>
                </tr>
                <tr scope="row" id="method-check">
                    <th> 2</th>
                    <td>Method</td>
                    <td>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-patch" value="POST">
                            <label for="chk-method-post">POST</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-patch" value="PATCH">
                            <label for="chk-method-patch">PATCH</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-delete" value="DELETE">
                            <label for="chk-method-delete">DELETE</label>
                        </div><br />
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-get" value="GET">
                            <label for="chk-method-get">GET</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-option" value="OPTIONS">
                            <label for="chk-method-option">OPTIONS</label> </div>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-any" value="ANY">
                            <label for="chk-method-any">ANY</label>
                        </div>
                    </td>
                </tr>
                <tr scope="row">
                    <th> 3</th>
                    <td> Version </td>
                    <td>
                        <input id="version" class="tm-check" type="text" name="version" text="" />
                    </td>
                </tr>
                <tr scope="row">
                    <th> 4</th>
                    <td> Router Group</td>
                    <td>
                        <input id="router-group" class="tm-check" type="text" name="router-group" text="" />
                    </td>
                </tr>
                <tr scope="row">
                    <th> 4</th>
                    <td>
                        Proxy Schema
                    </td>
                    <td>
                        <input id="proxySchema" class="tm-check" type="text" name="proxy_schema" text="" />
                    </td>
                </tr>
                <tr scope="row">
                    <th> 5</th>
                    <td> Proxy Pass </td>
                    <td>
                        <input id="proxyPass" class="tm-check" type="text" name="proxy_pass" text="" />
                    </td>
                </tr>
                <tr scope="row">
                    <th> 6</th>
                    <td> Proxy Version </td>
                    <td>
                        <input id="proxyVersion" class="tm-check" type="text" name="proxy_version" text="" />
                    </td>
                </tr>
                <tr scope="row">
                    <th> 7</th>
                    <td> Custom Configuration </td>
                    <td>
                        <textarea class="tm-check" id="custom-config-textarea" name="custom_config" disabled>
{
    "Authentication": false,
    "Cached": true,
    "CachedDurationsInSecond": 10
}
                            </textarea>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div class="input-group col-sm-6 float-left">
                <div class="input-group-prepend col-sm-3">
                    <label class="input-group-text" for="project-dropdown">Choose Project</label>
                </div>
                <select id="project-dropdown" class="custom-select">
                    <option selected>---</option>
                </select>
            </div>

            Template Name: <input id="text-template" type="text" name="filename" />
            <input id="btn-new-template" type="button" class="btn btn-primary" value="New Template" />
        </div>
    </div>
</body>

</html>