<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <link href="/public/css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <title>Go dynamic JSON</title>

    <script type="text/javascript">
        $(function(){
            // $.get("http://localhost:7000/GetFiles", function(data, status){
            //     alert(data)
            //     // $("#file-group").append(data)

            //     // $("#template").addClass("card")
            // })

            $(".template-group").on("click",function(){
                $checkbox = $(this).children("input")
                if ($checkbox.attr("checked") == "checked"){
                    $checkbox.removeAttr("checked")
                }else{
                    $checkbox.attr("checked", "checked")
                }

                var name = $(this).text()
                $.get("http://localhost:7000/GetTemplate/"+name, function(data, status){
                    $("textarea[name='resource']").text(data.resources)
                    $("textarea[name='method']").text(data.methods)
                    $("input[name='version']").val(data.version)
                    $("input[name='proxy_schema']").val(data.proxyschema)
                    $("input[name='proxy_pass']").val(data.proxypass)
                    $("input[name='proxy_version']").val(data.proxyversion)
                    $("textarea[name='custom_config']").text(data.customconfigs)
                })
            })

            $("#export").click(function(){
                var filenames = []
                $(".template-group").children("a").each(function(){
                    $checkbox = $(this).siblings("input")
                    if ($checkbox.attr("checked") == "checked"){
                        var name = $(this).text()
                        filenames.push(name)
                    }
                })

                var exportedFileName = $("#exported-file-name").val()
                var exportList = filenames.join(";")
                $.post("http://localhost:7000/Export",
                {content:exportList,
                filename:exportedFileName},
                function(result){

                })
            })
        })
    </script>
</head>

<body>
    <div class="container col-lg-8 col-lg-push-2">
            <div class="col-sm-4 col-sm-push-8 float-left">
                <div id="file" class="card" >
                 <h3>
                    Download Files
                </h3>
                <div class="list-group">
                        {{ range $i, $v := .Files }}
                        <div class="file-group list-group-item list-group-item-action">
                            <a href= {{ $v.URL }}> {{ $v.FileName }} </a>
                        </div>
                        {{ end }}
                </div>
                </div>
                    <div class="list-group">
                        <h3>Template List</h3>
                        <!-- <a href="#" class="list-group-item list-group-item-action active">
                                          Cras justo odio
                                        </a> -->
                        {{ range $i, $v := .Groups }}
                        <div class="template-group list-group-item list-group-item-action">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                            <a href="#"> {{ $v.FileName }} </a>
                        </div>
                        <!-- <a href= {{ $v.URL }} class="list-group-item list-group-item-action"> {{ $v.FileName }} </a> -->
                        {{ end }}
                    </div>
                    Exported File Name:  <input type="text" id="exported-file-name" />
                    <input id="export" type="button" class="btn btn-primary" value="Export JSON" />
            </div>
            <form action="/AddTemplate" method="POST">
                <div class="col-sm-6 float-right">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#
                                    </th>
                            <th scope="col">Field Name</th>
                            <th scope="col">Field Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <th> 1</th>
                            <td>
                                Resource
                            </td>
                            <td>
                               <textarea name="resource" width="200px" text="" height="400px"></textarea> 
                            </td>
                        </tr>
                        <tr scope="row">
                            <th> 2</th>
                            <td>
                                Method 
                            </td>
                            <td>
                               <textarea name="method" width="200px" text="" height="400px"></textarea> 
                            </td>
                        </tr>
                        <tr scope="row">
                            <th> 3</th>
                            <td>
                               Version 
                            </td>
                            <td>
                                <input type="text" name="version" text="" />
                            </td>
                        </tr>
                        <tr scope="row">
                            <th> 4</th>
                            <td>
                                Proxy Schema 
                            </td>
                            <td>
                                <input type="text" name="proxy_schema" text="" />
                            </td>
                            </tr>
                        <tr scope="row">
                            <th> 5</th>
                            <td>
                                Proxy Pass
                            </td>
                            <td>
                                <input type="text" name="proxy_pass" text="" />
                            </td>
                            </tr>
                        <tr scope="row">
                            <th> 6</th>
                            <td>
                                Proxy Version
                            </td>
                            <td>
                                <input type="text" name="proxy_version" text="" />
                            </td>
                            </tr>
                        <tr scope="row">
                            <th> 7</th>
                            <td>
                                Custom Configuration
                            </td>
                            <td>
                               <textarea name="custom_config" width="200px"></textarea> 
                            </td>
                            </tr>
                    </tbody>
                </table>
                Template Name:  <input type="text" name="filename" />
            <input id="add" type="submit" class="btn btn-primary" value="New Template" />
            </div>
        </form>
    </div>
</body>

</html>

