<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <link href="/public/css/screen.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/project.js"></script>
    <title>Project</title>
    <style>
        #templateForm {
            width: 670px;
        }
    </style>
</head>

<body onload="Load()">
    <h1 id="banner">Template</h1>
    <div id="main">
        <form class="cmxform" id="projectForm">
            <fieldset>
                <p>
                    <label for="project">Project</label>
                    <input id="project" name="project" type="text" required>
                </p>
                <p>
                    <label for="group">Group</label>
                    <button id="btn-router-group" type="button">Add</button>
                    <input id="group" name="group" type="text" required>
                    <div id="routergroup" name="routergroup">
                    </div>
                </p>
            </fieldset>
            <div class="form-group row text-right">
                <a href="http://localhost:7000/template" class="btn btn-dark">Return to Template</a>
                <button id="btn-clear" type="button">Empty</button>
                <button id="btn-create-project" type="button">Create</button>
                <button id="btn-edit-project" type="button">Update</button>
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <table id="tbl-project" class="table table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Project</th>
                    <th scope="col">Group</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>




</body>

</html>