<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <link href="/public/css/screen.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/project.js"></script>
    <title>Project</title>
    <style>
        #projectForm {
            width: 670px;
        }

        #main, #banner {
            width: 760px;
        }
    </style>
</head>

<body onload="Load()">
    <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/api/Logout">Logout</a>
    <h1 id="banner">Project</h1>
    <div id="main">
        <form class="cmxform" id="projectForm">
            <fieldset>
                <p>
                    <table id="tbl-project" style="margin-left:20px">
                        <thead>
                            <tr>
                                <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col">Project</th>
                                <th scope="col">Group</th>
                                <th scope="col">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </p>
                <p>
                    <label for="project">Project</label>
                    <input id="project" name="project" type="text" required>
                </p>
                <p>
                    <label for="group">Group</label>
                    <button id="btn-router-group" type="button">Add</button>
                    <input id="group" name="group" type="text">
                    <div id="routergroup" name="routergroup" required>
                    </div>
                </p>
                <p>
                    <button id="btn-clear" type="button">Empty</button>
                    <button id="btn-create-project" type="button">Create</button>
                    <button id="btn-edit-project" type="button">Update</button>
                    <a href="http://localhost:7000/template" class="btn btn-dark">Return to Template</a>
                </p>

            </fieldset>
        </form>
    </div>
</body>

</html>