<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <!-- <link href="/public/css/main.css" rel="stylesheet" /> -->
    <link href="/public/css/screen.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/template.js"></script>
    <title>Template</title>
    <style>
        #templateForm {
            width: 670px;
        }

        #main,
        #banner {
            width: 760px;
        }
    </style>
</head>

<body onload="Load()">
    <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/auth/Logout">Logout</a>
    <h1 id="banner">Template</h1>
    <div id="main">
        <form class="cmxform" id="templateForm">
            <fieldset>
                <p>
                    <label for="resource">Resource</label>
                    <button id="btn-resource" type="button">Add</button>
                    <input id="resource" name="resource" type="text">
                    <div id="resgroup" name="resgroup" required>
                    </div>
                </p>
                <p>
                    <label for="version">Version</label>
                    <input id="version" type="text" name="version" text="" />
                </p>
                <p>
                    <label for="proxy-schema-dropdown">Proxy Schema</label>
                    <select id="proxy-schema-dropdown" name="proxyschema" class="custom-select p-10">
                        <option selected value="http">http</option>
                        <option value="https">https</option>
                    </select>
                </p>
                <p>
                    <label for="proxy-pass">Proxy Pass</label>
                    <input id="proxy-pass" type="text" name="proxypass" text="" />
                </p>
                <p>
                    <label for="proxy-version">Proxy Version</label>
                    <input id="proxy-version" type="text" name="proxyversion" text="" />
                </p>
                <p>
                    <label for="custom-config-textarea">Custom Configuration</label>
                    <textarea id="custom-config-textarea" name="customconfig" style="width:250px;height:100px;"
                        disabled>
{
    "Authentication": false,
    "Cached": true,
    "CachedDurationsInSecond": 10
}
                    </textarea>
                </p>

                <fieldset>
                    <legend>Method</legend>
                    <label for="chk-method-post">
                        <input class="error" type="checkbox" id="chk-method-post" name="method" value="POST">
                        POST</label>
                    <label for="chk-method-patch">
                        <input class="error" type="checkbox" id="chk-method-patch" name="method" value="PATCH">
                        PATCH</label>
                    <label for="chk-method-delete">
                        <input class="error" type="checkbox" id="chk-method-delete" name="method" value="DELETE">
                        DELETE</label>
                    <label for="chk-method-get">
                        <input class="error" type="checkbox" id="chk-method-get" name="method" value="GET">
                        GET</label>
                    <label for="chk-method-put">
                        <input class="error" type="checkbox" id="chk-method-put" name="method" value="PUT">
                        PUT</label>
                    <label for="chk-method-option">
                        <input class="error" type="checkbox" id="chk-method-option" name="method" value="OPTIONS">
                        OPTIONS</label>
                    <label for="chk-method-any">
                        <input class="error" type="checkbox" id="chk-method-any" name="method" value="ANY">
                        ANY</label>
                    <label for="method" class="error">

                    </label>
                </fieldset>
                <p>
                    <label for="project-dropdown">Choose Project</label>
                    <select id="project-dropdown" name="project" required>
                        <option selected></option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="router-dropdown" name="router">
                        <option selected>--------</option>
                    </select>
                </p>
                <p>
                    <label for="template">Template Name</label>
                    <input id="template" type="text" name="templateName" />
                </p>
                <p>
                    <button id="btn-clear" type="button">Empty</button>
                    <input id="btn-create-template" type="button" value="Create Template" />
                    <input id="btn-edit-template" type="button" value="Edit Template" />
                    <a href="http://localhost:7000/home" class="btn btn-dark">Return to Home</a>
                </p>
                <p>
                    <a href="http://localhost:7000/project" class="w-10 ml-2">New Project?</a>
                </p>
            </fieldset>
        </form>
    </div>
</body>

</html>