<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
    <link href="/public/css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/template.js"></script>
    <title>Template</title>
</head>

<body onload="Load()">
    <div class="container-fluid">
        <table id="tbl-template" class="table table-sm table-responsive table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row">
                    <th> 1</th>
                    <td>Resource</td>
                    <td>
                        <input type="text" text="" />
                        <button id="btn-resource" type="button" class="btn btn-dark">Add</button>
                        <div id="div-resource">
                        </div>
                    </td>
                </tr>
                <tr scope="row" id="method-check">
                    <th> 2</th>
                    <td>Method</td>
                    <td>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-post" value="POST">
                            <label for="chk-method-post">POST</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-patch" value="PATCH">
                            <label for="chk-method-patch">PATCH</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-delete" value="DELETE">
                            <label for="chk-method-delete">DELETE</label>
                        </div><br />
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-get" value="GET">
                            <label for="chk-method-get">GET</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-option" value="OPTIONS">
                            <label for="chk-method-option">OPTIONS</label> </div>
                        <div class="form-check form-check-inline col-sm-2">
                            <input class="form-check-input" type="checkbox" id="chk-method-any" value="ANY">
                            <label for="chk-method-any">ANY</label>
                        </div>
                    </td>
                </tr>
                <tr scope="row">
                    <th> 3</th>
                    <td> Version </td>
                    <td>
                        <input id="version" class="tm-check" type="text" name="version" text="" />
                    </td>
                </tr>
                <tr scope="row">
                    <th> 4</th>
                    <td>
                        Proxy Schema
                    </td>
                    <td>
                        <select id="proxy-schema-dropdown" class="custom-select p-10">
                            <option selected value="http">http</option>
                            <option value="https">https</option>
                        </select>
                    </td>
                </tr>
                <tr scope="row">
                    <th> 5</th>
                    <td> Proxy Pass </td>
                    <td>
                        <input id="proxy-pass" class="tm-check" type="text" name="proxy_pass" text="" />
                    </td>
                </tr>
                <tr scope="row">
                    <th> 6</th>
                    <td> Proxy Version </td>
                    <td>
                        <input id="proxy-version" class="tm-check" type="text" name="proxy_version" text="" />
                    </td>
                </tr>
                <tr scope="row">
                    <th> 7</th>
                    <td> Custom Configuration </td>
                    <td>
                        <textarea class="tm-check" id="custom-config-textarea" name="custom_config" disabled>
{
    "Authentication": false,
    "Cached": true,
    "CachedDurationsInSecond": 10
}
                            </textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="input-group">
                <div class="input-group-prepend col-sm-2">
                    <label class="input-group-text" for="project-dropdown">Choose Project</label>
                </div>
                <select id="project-dropdown" class="custom-select mr-2 p-10">
                    <option selected>---</option>
                </select>
                <select id="router-dropdown" class="custom-select mr-2 p-10">
                    <option selected>---</option>
                </select>
                <a href="http://localhost:7000/project" class="w-10 ml-2">New Project?</a>
                <div class="input-group-prepend col-sm-2">
                    <label class="input-group-text">Template Name</label>
                </div>
                <input id="text-template" type="text" name="filename" />
            </div>
        </div>
        <button id="btn-clear" type="button" class="btn btn-danger">Empty</button>
        <input id="btn-create-template" type="button" class="btn btn-primary" value="Create Template" />
        <input id="btn-edit-template" type="button" class="btn btn-primary" value="Edit Template" />
        <a href="http://localhost:7000/home" class="btn btn-dark">Return to Home</a>
    </div>
</body>

</html>